.sun {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 30px auto;
    border-radius: 50%;
    background: linear-gradient(0deg, #E99046 12%, #F4D470 100%);
  }
  
  .sun::after {
    position: absolute;
    left: -100px;
    bottom: -60px;
    display: block;
    content: '';
    width: 380px;
    height: 150px;
    background: linear-gradient(0deg, rgba(255,255,255,0.3) 70%, rgba(233,144,70,.2) 100%);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    transform: rotate(15deg);
    transform-origin: center center;
  }
  